/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;700&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 5rem;
  /*========== Primary Colors ==========*/
  --first-color: hsl(233, 26%, 24%);
  --second-color: hsl(136, 65%, 51%);
  --third-color: hsl(192, 70%, 51%);
  --li-gr: linear-gradient(45deg, hsl(136deg 65% 51%) 0%, hsl(175deg 100% 40%) 50%, hsl(192deg 70% 51%) 100%);
  /*========== Neutral Colors ==========*/
  --grayish-blue: hsl(233, 8%, 62%);
  --gravish-blue-light: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  /*========== Hover Colors ==========*/
  --ho-Lime-Green: hsl(136, 81%, 71%);
  --ho-Bright-Cyan: hwb(192 48% 5%);
  --ho-li-gr: linear-gradient(to right, var(--ho-Lime-Green), var(--ho-Bright-Cyan));
  /*========== Font and typography ==========*/
  --body-font: "Public Sans", sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
}
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== responsive breakpoint ==========*/
/*=============== BASE ===============*/
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--white);
  color: var(--text-color);
  overflow-x: hidden;
  position: relative;
}
body.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 990;
}

h1 {
  line-height: 1.2;
  letter-spacing: 0.8px;
  font-size: 3.5rem;
  font-weight: var(--font-light);
  color: var(--first-color);
}

h2 {
  line-height: 1.35;
  letter-spacing: 0.8px;
  font-size: 3rem;
  font-weight: var(--font-light);
  color: var(--first-color);
}

h3 {
  font-size: 1.4rem;
  font-weight: var(--font-medium);
  color: var(--first-color);
}

h4 {
  font-size: 1.1rem;
  color: var(--first-color);
  font-weight: var(--font-regular);
}

p {
  line-height: 1.5;
  color: var(--grayish-blue);
  font-size: 1.1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

article {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.border {
  border: 1px solid red;
}

.btn {
  background: var(--li-gr);
  padding: 15px 30px;
  color: var(--white);
  font-weight: var(--font-medium);
  border-radius: 20px;
}
.btn:hover {
  background: var(--ho-Lime-Green);
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
  background-color: var(--very-light-gray);
  position: sticky;
  top: 0;
  z-index: 999;
  transition: all 0.3s ease;
}
.header.scrolled {
  background-color: var(--first-color);
}
.header.scrolled .nav__link {
  color: var(--very-light-gray);
}

/*=============== NAVBAR ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav__logo {
  display: flex;
}
.nav__logo > img {
  height: 100%;
}
.nav__menu {
  height: 100%;
}
.nav__list {
  display: flex;
  flex-direction: row;
  height: inherit;
  align-items: center;
  gap: 2rem;
}
.nav__item {
  width: 100%;
  height: inherit;
}
.nav__item::after {
  content: "";
  height: 2px;
  background: var(--White);
  transform: translateY(-3px) scaleX(0);
  display: block;
}
@media screen and (max-width: 767px) {
  .nav__item::after {
    transform: none;
    content: none;
  }
}
.nav__item:hover::after {
  height: 3px;
  background: var(--li-gr);
  transform: translateY(-3px) scaleX(1);
  transition: transform 0.3s ease 0s;
}
@media screen and (max-width: 767px) {
  .nav__item:hover::after {
    transform: none;
    content: none;
  }
}
.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grayish-blue);
  height: inherit;
  letter-spacing: 1px;
}
.nav__toggle {
  display: none;
  cursor: pointer;
}
.nav__toggle > i {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    height: unset;
    position: fixed;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    /* top: -100%; */
    transform: translateY(-150%);
    margin: 0 auto;
    opacity: 0;
  }
  .nav__list {
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 0;
    background-color: var(--white);
    border-radius: 10px;
  }
  .nav__link {
    padding: 1.5rem 0;
    height: inherit;
    color: var(--first-color) !important;
    font-weight: var(--font-medium);
    letter-spacing: 0.5px;
  }
  .nav__btn {
    display: none;
  }
  .nav__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
  }
}

.show-menu {
  opacity: 1;
  transform: translateY(67%);
  transition: all 0.4s ease;
}

.main {
  width: 100%;
  background-color: var(--very-light-gray);
  position: relative;
  overflow-x: hidden;
}

.hero {
  /* border: 1px solid blue; */
  background-image: url("/images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 950px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-template-rows: 650px;
  justify-content: center;
}
.hero__left {
  width: 100%;
}
.hero__info {
  padding-left: 15rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero__info > p {
  width: 50%;
  min-width: 350px;
  text-wrap: pretty;
}
.hero__info > .btn {
  display: block;
  align-self: flex-start;
}
.hero__right {
  /* border: 1px solid purple; */
}
.hero__right > img {
  transform: translateX(100px);
}
@media screen and (max-width: 1400px) {
  .hero {
    background-position: 550px;
  }
  .hero__info {
    padding-left: 5rem;
  }
}
@media screen and (max-width: 1200px) {
  .hero {
    background-position: 450px;
  }
  .hero__info {
    padding-left: 15rem;
  }
}
@media screen and (max-width: 1024px) {
  .hero {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 6rem;
    background-position: 36% -550px;
    background-size: cover;
  }
  .hero__left {
    display: flex;
    flex-direction: column;
    order: 2;
    width: 100%;
    height: 100%;
  }
  .hero__info {
    width: 100%;
    padding: 0;
    min-width: 90%;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .hero__info > h1 {
    font-size: 2.8rem;
    text-align: center;
    width: 100%;
    height: 100%;
    text-wrap: balance;
  }
  .hero__info > p {
    width: 90%;
    text-align: center;
    text-wrap: balance;
    height: 100%;
  }
  .hero__info > .btn {
    align-self: center;
  }
  .hero__right {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero__right > img {
    transform: translate(0, -100px);
    width: 90%;
    text-align: center;
    min-width: 350px;
  }
}
@media screen and (max-width: 576px) {
  .hero {
    background-image: url("/images/bg-intro-mobile.svg");
    background-position: 50% -50px;
    background-size: contain;
  }
}

.service {
  width: 100%;
  background-color: var(--gravish-blue-light);
  padding: 6rem 0;
}
.service__cards {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1.5rem;
}
.service__card {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.service__card > p {
  text-wrap: pretty;
  letter-spacing: -0.5px;
  font-weight: var(--font-light);
  line-height: 1.5;
}
@media screen and (max-width: 1024px) {
  .service__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 3rem;
  }
}
@media screen and (max-width: 576px) {
  .service__content {
    text-align: center;
  }
  .service__cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    text-align: center;
    gap: 3rem;
  }
}

.article {
  width: 100%;
  background-color: var(--very-light-gray);
  padding: 6rem 0;
}
.article__cards {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
}
.article__card {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.article__card > img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 250px;
}
@media screen and (max-width: 1024px) {
  .article__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 3rem;
  }
}
@media screen and (max-width: 576px) {
  .article__content > h2 {
    text-align: center;
  }
  .article__cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 3rem;
  }
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 25px;
  text-wrap: balance;
}
.card__info > p {
  font-size: 1rem;
  letter-spacing: -0.5px;
}
@media screen and (max-width: 576px) {
  .card__info {
    text-wrap: pretty;
  }
}

.footer {
  width: 100%;
  padding: 3rem 0;
  background-color: var(--first-color);
}
.footer__logo {
  display: flex;
}
.footer__logo > img {
  width: 100%;
  height: 100%;
  width: 175px;
}
.footer__content {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
}
.footer__icons {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.footer__socials {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.footer__socials > img {
  width: 20px;
  cursor: pointer;
  /* filter generator owo: https://codepen.io/sosuke/pen/Pjoqqp */
}
.footer__socials > img:hover {
  filter: invert(32%) sepia(32%) saturate(925%) hue-rotate(75deg) brightness(99%) contrast(65%);
}
.footer__link {
  text-decoration: none;
  color: var(--white);
}
.footer__link:hover {
  color: var(--ho-Lime-Green);
}
.footer__sections {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__copyright {
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: flex-end;
  gap: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
  }
  .footer__icons {
    gap: 2rem;
    align-items: center;
  }
  .footer__copyright {
    align-items: center;
  }
  .footer__socials {
    gap: 1.5rem;
  }
  .footer__socials > img {
    width: 25px;
  }
}

.sections {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.sections__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sections__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .sections {
    gap: 3rem;
  }
  .sections__left, .sections__right {
    align-items: center;
    gap: 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  .sections {
    gap: 1.5rem;
    flex-direction: column;
  }
  .sections__left, .sections__right {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
