/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;700&display=swap');

/*=============== VARIABLES CSS ===============*/

:root {
    --header-height: 5rem;

    /*========== Primary Colors ==========*/
    --first-color: hsl(233, 26%, 24%);
    --second-color: hsl(136, 65%, 51%);
    --third-color: hsl(192, 70%, 51%);
    --li-gr: linear-gradient(45deg, hsl(136deg 65% 51%) 0%, hsl(175deg 100% 40%) 50%, hsl(192deg 70% 51%) 100%);

    /*========== Neutral Colors ==========*/
    --grayish-blue: hsl(233, 8%, 62%);
    --gravish-blue-light: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

    /*========== Font and typography ==========*/
    --body-font: 'Public Sans', sans-serif;

    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    // Responsive typography
    @media screen and (min-width: 968px){
        --biggest-font-size: 3rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }

    /*========== Font weight ==========*/
    --font-light: 300; 
    --font-regular: 400; 
    --font-medium: 500; 
    --font-bold: 700;
}

/*========== responsive breakpoint ==========*/
$mobile: 767px;
$medium: 1024px;
